[Unit]
Description=Run rgb_control.py script at startup
 
[Service]
ExecStart=/usr/bin/python3 /home/pi/elecrow/rgb_control.py
WorkingDirectory=/home/pi/elecrow
StandardOutput=inherit
StandardError=inherit
Restart=always
 
[Install]
WantedBy=multi-user.target
